/*font */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Baloo Bhaina 2', cursive;
}
body{
    display: flex;
    flex-direction: column;
    /* background:#cfc4c426; */
}
/* navigation starts from here */
nav{
    height: 10vh;
    background: #06f5df;
    display: flex;
    padding-top: 5.5vh;
}
#nav1{
    margin-left: 5vw;
}
#nav1 a{
    font-size: 3vh;
    text-decoration: none;
    color: #3b386b;
    font-weight:bold;
}
#nav2{
    margin-left: 5vw;;
}
#nav2 a{
    color: #3b386b;
    text-decoration: none;
    /* font-weight: bold; */
    margin: 5vh;
    font-size: 3vh;

}
#nav2 a:hover{
    transition:color 1s ease-in 0s;
    color:black;
}
#nav3 img{
    width: 5vw;
    height: 9vh;
}
/* designing dropdown menu*/
.dropdown a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding:2vh;
    border-radius:1vh;
}
.dropdown{
    display: none;
    padding: .6vh;
    border-radius: 1vh;
    background:rgb(164, 224, 220);
}   
 .dropdown a:hover{
    color:white;
    transition: background-color 1s ease-in 0s;
    background:#3b386b;
}
#nav3:hover .dropdown{
    display:flex;
    flex-direction: column;
}
#nav3{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 85vw;
    margin-top: -3vh;
}
/* dropdown menu designing stop here */
/* middleArea1 starts from here */
#middleArea1{
    background-color: #3b386b;
    width: 90vw;
    height: 24vh;
    margin: auto;
    /* box-shadow: 0 0 1vh #0b343e; */
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
    color: white;
    text-shadow: 0 0 2vh black;
}
#middleArea1 img{
    width: 12vw;
    height: 16vh;
    filter: invert();
}
/* middleArea2 starts from here */
#middleArea2{
    margin: auto;
    margin-top: 5vh;
    margin-bottom:5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    background:#0b343e1f;
    /* box-shadow: 0 0 1vh #1bb4d9; */
    border-radius:.7vh;
}
#middleArea2 form{
    display:flex;
    flex-direction: column;
}
#middleArea2 input{
    width: 47vw;
    height: 5vh;
    border-radius: .7vh;
    border: 1px solid gray;
}
#middleArea2 button{
width: 8vw;
align-self: flex-end;
font-weight: bold;
background: #3b386b;
color:white;
border: none;
margin-top: 1vh;
padding: 1vh;
border-radius: .7vh;
}
/*footer starts from here*/
footer{
    background: black;
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
}
#footer1 img{
    height: 40vh;
}
#footer2{
    /* border: 2px solid red; */
    display: flex;
    padding: 15vh;
}
#footer2a,#footer2b,#footer2c{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    padding: 5vh;
}
#footer2 a{
    color: white;
    margin-top: 1vh;
    text-decoration: none;
}
#footer2 a:hover{
      text-decoration:underline;
}